* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* Style the header */

.header {
  background-color: #ece1e1;
  color: green;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */

.topnav {
  overflow: hidden;
  background-color: rgb(230, 5, 5);
}

/* Style the topnav links */

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

/* Change color on hover */

.topnav a:hover {
  background-color: rgb(81, 115, 189);
  color: rgb(231, 38, 38);
}
.topnav images {
  width: 170px;
}
